.App {
  display: flex;
  background-color: #002d62;
  height: 100vh;
}

.HomePage{
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #002d62;
  height: 100vh;
  justify-content: center;
}

.HomeImage {
  max-width: 60vw;
  max-height: 60%;
  justify-content: center;
}

.PageFunc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw;
}

.imagem {
  max-width: 60vw;
  height: 100%;
  justify-content: center;
}

.PaperBg {
  height: 35vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.TextInput {
  padding: 10px;
}

.SearchBar {
  margin-bottom: 40%;
  margin-left: 5%;
}

.WhiteBg{
  background-color: white;
}

.itemOne {
  max-width: 50vw;
  height: 60%;
  display: flex;
  flex-direction: column;
}


.label {
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
}


.messages {
  display: flex;
  justify-content: center;
}

.error {
  display: block;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
}

.success {
  display: block;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
}
